absl-py  
accelerate  
aiohappyeyeballs  
aiohttp  
aiosignal  
annotated-types  
astunparse  
attrs  
blis  
blobfile  
catalogue  
certifi  
charset-normalizer  
click  
cloudpathlib  
colorama  
confection  
cymem  
datasets  
dill  
emoji  
filelock  
flatbuffers  
frozenlist  
fsspec  
gast  
google-pasta  
grpcio  
h5py  
hf-xet  
huggingface-hub  
idna  
Jinja2  
joblib  
keras  
langcodes  
language_data  
libclang  
lxml  
marisa-trie  
Markdown  
markdown-it-py  
MarkupSafe  
mdurl  
ml_dtypes  
mpmath  
multidict  
multiprocess  
murmurhash  
namex  
networkx  
nltk  
numpy  
opt_einsum  
optree  
packaging  
pandas  
pip  
preshed  
propcache  
protobuf  
psutil  
pyarrow  
pycryptodomex  
pydantic  
pydantic_core  
Pygments  
pysentimiento  
python-dateutil  
pytz  
PyYAML  
regex  
requests  
rich  
safetensors  
sentencepiece  
setuptools  
shellingham  
six  
smart-open  
spacy  
spacy-legacy  
spacy-loggers  
srsly  
sympy  
tensorboard  
tensorboard-data-server  
tensorflow  
termcolor  
textblob  
tf_keras  
thinc  
tiktoken  
tokenizers  
torch  
tqdm  
transformers  
typer  
typing_extensions  
typing-inspection  
tzdata  
urllib3  
wasabi  
weasel  
Werkzeug  
wheel  
wrapt  
xxhash  
yarl  
